*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
/* .header{
    width: 100%;
  border-bottom:1px solid white;
} */


.top-bar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:12px 40px;
  
}
.left{
  display:flex;
  align-items:center;
  gap:20px;
}

.logo{
  height:32px;
  width: 120px ;
}

.location{
  display:flex;
  flex-direction:column;
  font-size:13px;
  border-left: 1px solid rgb(136, 133, 133);
  padding: 5px;
}

.location .small{
  color:rgb(2, 173, 179);
  font-style:italic;
  font-size: 15px;
  font-weight: 20px;
}

.location .pincode{
  font-weight:600;
  cursor:pointer;
}

.right{
  display:flex;
  align-items:center;
  gap:25px;
  font-size:14px;
}

.right .item{
  cursor:pointer;
}
.fa-solid{
    color:rgb(4, 143, 148);
    font-size:18px;
}
.menu{
  display:flex;
  justify-content: center;
  gap:30px;
  padding:12px 40px;
  border:1px solid gray;
}

.menu a{
  text-decoration:none;
  color: black;
  font-weight:500;
}

.menu a:hover{
  color:rgb(2, 173, 179);
}

.search-section{
  padding:40px;
}


.search-top{
  display:flex;
  justify-content: center;
  align-items:center;
  font-family: "Unna", serif;
}

.search-top h2{
  font-size:28px;
}
#search-main{
 
    display:flex;
    justify-content: center;
    align-items:center;
}
.search-box{
     width: 400px;
     display: flex;
     justify-content: center;
     align-items:center;
     border:1px solid rgb(2, 173, 179);
      padding:8px 15px;
    
     border-radius: 60px;
     border: 2px solid rgb(2, 173, 179);
}
#search-ser{
    height: 40px;
    width: 80%;
    border: none;
    outline: none;
    font-size: 16px;
    border-radius: 60px;
}
#button{
   height: 40px;
    width: 40%;
    outline: none;
    border: none;
    background-color:rgb(2, 173, 179);
    color: white;
    border-radius: 60px;
    font-weight: 700;
    border: none;
    outline: none;
    cursor: pointer;
}
.lab-section{
  padding:40px;
  background:white;
}


.lab-header h2{
  font-size:26px;
  margin-bottom:6px;
}

.lab-header p{
  font-size:20px;
  color:gray;
}

#logo{
  height:20px;
  margin-left:6px;
  color: black;
}
.checkup{
    display:flex;
    gap:30px;
    margin-top:30px;
}
.carousel-inner{
    width:100%;
    height:320px;
    background-color:white;
    border-radius:10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display:grid;
    flex-wrap: wrap;
    
}
.packages{
  padding:40px;
}

.packages h2{
  margin-bottom:20px;
}

.card-wrapper{
  
  display:grid;
  grid-template-columns: repeat(3,1fr);
  gap:20px;
}

.card{
  background-image: url(./OIP.jpg);
  background-size: cover;
  background-position: center;
  box-shadow: rgba(0, 0, 0, 0.24);
  background-repeat: no-repeat;
  border:1px solid white;
  padding:20px;
  border-radius:12px;
  position:relative;
  min-height:260px;
}

.card h3{
  font-size:16px;
  line-height:1.4;
  margin-bottom:20px;
  color: black;
}

.offer{
  position:absolute;
  bottom:70px;
  left:20px;
  background:rgb(232, 73, 73);
  color:white;
  padding:4px 10px;
  font-size:13px;
  border-radius:4px;
}

.price{
  position:absolute;
  bottom:20px;
  left:20px;
}

.price strong{
  font-size:18px;
}

.price del{
  margin-left:10px;
  color:gray;
}

.card button{
  position:absolute;
  bottom:20px;
  right:20px;
  padding:8px 18px;
  border:1px solid rgb(3, 150, 172);
  background:white;
  color:rgb(3, 150, 172);
  border-radius:6px;
  cursor:pointer;
}
.category-section{
  padding: 20px 20px;
}

.category-section h2{
  font-size: 26px;
  margin-bottom: 20px;
}

.category-wrapper{
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  overflow-x: auto;
  scrollbar-width: none;
}

.category-card{
  min-width: 180px;
  background: white;
  border: 1px solid white;
  border-radius: 14px;
  padding: 20px;
  text-align: center;
  transition: 0.3s;
}

.category-card:hover{
  box-shadow: 0 6px 18px rgba(0,0,0,0.12);
  transform: translateY(-5px);
}

.category-card img{
  width: 100%;
  height: 100px;
  object-fit: contain;
  margin-bottom: 15px;
}

.category-card p{
  font-size: 15px;
  font-weight: 500;
  color: black;
}
.product-section{
  padding: 20px 30px;
}

.product-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  overflow-x: auto;
  scrollbar-width: none;
}

.product-wrapper::-webkit-scrollbar{
  display: none;
}

.product-card{
  /* min-width: 200px; */
  background:white;
  border: 1px solid white;
  border-radius: 27px;
  /* padding: 20px; */
  transition: 0.3s;
}

.product-card:hover{
  box-shadow: 0 6px 18px rgba(0,0,0,0.12);
}

.product-card img{
  width: 100%;
  height: 160px;
  object-fit: contain;
  margin-bottom: 10px;
}

.product-card h4{
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 6px;
}
.mrp{
  font-size: 13px;
  color: gray;
  text-decoration: line-through;
  margin-bottom: 5px;
}

.price-row{
  display: flex;
  gap: 8px;
  align-items: center;
}

.price-p{
  font-size: 16px;
  font-weight: 600;
  color: black;
}

.discount{
  font-size: 14px;
  color: red;
}







@media (max-width:1024px){
  .top-bar{
    padding:12px 20px;
  }

  .menu{
    padding:12px 20px;
    gap:20px;
  }

  .banner{
    max-width:100%;
  }
}
@media (max-width:768px){
  .top-bar{
    flex-direction:column;
    align-items:flex-start;
    gap:10px;
    width:100%;
  }

  .menu{
    flex-direction:column;
    align-items:flex-start;
    width:100%;
  }

  .search-box{
    width:300px;
  }
}