

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

/* .header{
    width: 100%;
  border-bottom:1px solid white;
} */

.top-bar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:12px 40px;
  
}

.left{
  display:flex;
  align-items:center;
  gap:20px;
}

.logo{
  height:32px;
  width: 120px ;
}

.location{
  display:flex;
  flex-direction:column;
  font-size:13px;
  border-left: 1px solid rgb(136, 133, 133);
  padding: 5px;
}

.location .small{
  color:rgb(2, 173, 179);
  font-style:italic;
  font-size: 15px;
  font-weight: 20px;
}

.location .pincode{
  font-weight:600;
  cursor:pointer;
}

.right{
  display:flex;
  align-items:center;
  gap:25px;
  font-size:14px;
}

.right .item{
  cursor:pointer;
}
.fa-solid{
    color:rgb(4, 143, 148);
    font-size:18px;
}
.menu{
  display:flex;
  justify-content: center;
  gap:30px;
  padding:12px 40px;
  border:1px solid gray;
 
}

.menu a{
  text-decoration:none;
  color: black;
  font-weight:500;
}

.menu a:hover{
  color:rgb(2, 173, 179);
}

.search-section{
  padding:40px;

}


.search-top{
  display:flex;
  justify-content: center;
  align-items:center;
  font-family: "Unna", serif;
}

.search-top h2{
  font-size:28px;
}
#search-main{
  width: 100%;
    display:flex;
    justify-content: center;
    align-items:center;
}
.search-box{
     width: 400px;
     display: flex;
     justify-content: center;
     align-items:center;
     border:1px solid rgb(2, 173, 179);
      padding:8px 15px;
    
     border-radius: 60px;
     border: 2px solid rgb(2, 173, 179);
}
#search-ser{
    height: 40px;
    width: 80%;
    border: none;
    outline: none;
    font-size: 16px;
    border-radius: 60px;
}
#button{
   height: 40px;
    width: 40%;
    outline: none;
    border: none;
    background-color:rgb(2, 173, 179);
    color: white;
    border-radius: 60px;
    font-weight: 700;
    border: none;
    outline: none;
    cursor: pointer;
}
.category-section{
    width: 100%;
  display: grid;
  justify-content: space-evenly;
  position:relative;
  padding:30px 40px;
  background:white;
}

.category-wallpaper{
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  gap:30px;
  overflow:hidden;
  scroll-behavior:smooth;
 
}

.category{
  width:200px;
  text-align:center;
   &:hover{
    background-color: rgb(230, 251, 252);
    color: rgb(11, 239, 239);
    cursor: pointer;
     transform: scale(1.05);
        transition: all 0.3s ease-in-out;
  }

}

.category img{
  width:95px;
  height:65px;
  object-fit:contain;
}

.category p{
  font-size:15px;
  font-weight:500;
  margin-bottom:5px;
}

.category span{
  font-size:13px;
  font-weight:600;
  color:salmon;
}
.slider-track{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow-x:auto;
  gap:20px;
  overflow-x:auto;
  scroll-behavior:smooth;
  padding:20px 0;
  scrollbar-width: none;    
}
.slide{
  width: 100%;
  max-width:600px;
  display: flex;
  justify-content: center;
  border-radius:18px;
}

.slide img{
  display: flex;
  width:100%;
  height:260px;
  object-fit:cover;
  border-radius:18px;
}
 /* .slider-track{
  display:flex;
  gap:5px;
  overflow-x:auto;
  padding:20px;
}

.slide{
  width:600px;
  border-radius:18px;
  overflow:hidden;
}

.slide img{
  width:100%;
  height:260px;
  object-fit:cover;
} */

.lab-section{
  padding:40px;
  background:white;
}


.lab-header h2{
  font-size:26px;
  margin-bottom:6px;
}

.lab-header p{
  font-size:14px;
  color:gray;
}

#logo{
  height:20px;
  margin-left:6px;
  color: black;
}
.wallpaper{
  margin-top:25px;
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  gap:20px;
  overflow:hidden;
   perspective: 1000px;
  
  
}

.card{
  min-width:180px;
  height:220px;
  border-radius:18px;
  padding:16px;
  display:flex;
  flex-direction:column;
  justify-content:space-between;
   position:relative;
  transform-style:preserve-3d;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
   &:hover{
    color: rgb(11, 239, 239);
     transform: rotateY(180deg);
        transition: all 0.5s ease-in-out;
  }
}
.back{
  position:absolute;
  inset:0;
  border-radius: 18px;
  background:rgb(2, 173, 179);
  color:black;
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
  padding:20px;
  transform: rotateY(180deg);
  backface-visibility: hidden;
}
#summary{
  background:rgb(247, 244, 248);
  color:white;
  border:none;
  padding:10px 22px;
  border-radius:8px;
  font-size:14px;
  cursor:pointer;
}

.card h3{
  font-size:18px;
  font-weight:600;
}

.card img{
  width:90px;
  align-self:flex-end;
}
.card .tests{
  font-size:14px;
  color:gray;
}

#photo{
  width:170px;

}

/* .prescription-section{
  padding:30px;
  background:white;
} */

.prescription-card{
  max-width:1200px;
  margin:auto;
  display:flex;
  border:1px solid white;
  border-radius:14px;
  overflow:hidden;
}
.left-box{
  flex:1;
  background:white;
  padding:30px;
  display:flex;
  flex-wrap: wrap;
  gap:20px;
  align-items:center;
}

.icon-box img{
  width:90px;
}

.content h2{
  font-size:22px;
  margin-bottom:6px;
}

.content p{
  font-size:14px;
  color:gray;
  margin-bottom:16px;
}

.upload-btn{
  background:rgb(2, 173, 179);
  color:white;
  border:none;
  padding:10px 22px;
  border-radius:8px;
  font-size:14px;
  cursor:pointer;
}
.right-box{
  flex:1.2;
  padding:30px;
}

.right-box h3{
  font-size:18px;
  margin-bottom:20px;
}

.steps{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:18px;
}

.step{
  display:flex;
  gap:12px;
  align-items:flex-start;
}

.num{
  width:28px;
  height:28px;
  background:white;
  color:blue;
  border-radius:8px;
  display:flex;
  align-items:center;
  justify-content:center;
  font-weight:600;
}

.step p{
  font-size:14px;
  color:gray;
}
.category-section{
  padding: 20px;
}

.category-section h2{
  font-size: 26px;
  margin-bottom: 20px;
}

.category-wrapper{
  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  overflow-x: auto;
  scrollbar-width: none;
}

.category-card{
  min-width: 200px;
  background: white;
  border: 1px solid white;
  border-radius: 14px;
  padding: 20px;
  text-align: center;
  transition: 0.3s;
}

.category-card:hover{
  box-shadow: 0 6px 18px rgba(0,0,0,0.12);
  transform: translateY(-5px);
}

.category-card img{
  width: 100%;
  height: 150px;
  object-fit: contain;
  margin-bottom: 15px;
}

.category-card p{
  font-size: 15px;
  font-weight: 500;
  color: black;
}
.product-section{
  padding: 20px;
}

.product-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  overflow-x: auto;
  scrollbar-width: none;
}

.product-wrapper::-webkit-scrollbar{
  display: none;
}

.product-card{
  min-width: 200px;
  background:white;
  border: 1px solid white;
  border-radius: 27px;
  padding: 20px;
  transition: 0.3s;
}

.product-card:hover{
  box-shadow: 0 6px 18px rgba(0,0,0,0.12);
}

.product-card img{
  width: 100%;
  height: 160px;
  object-fit: contain;
  margin-bottom: 10px;
}

.product-card h4{
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 6px;
}

.mrp{
  font-size: 13px;
  color: gray;
  text-decoration: line-through;
  margin-bottom: 5px;
}

.price-row{
  display: flex;
  gap: 8px;
  align-items: center;
}

.price{
  font-size: 16px;
  font-weight: 600;
  color: black;
}

.discount{
  font-size: 14px;
  color: red;
}
#nurs{
  height: 200px;
  margin-left: 200px;


}
#plus{
  height: 200px;
  margin-left: 200px;

}

 .packages{
  padding: 40px 30px;
}

.packages-wrapper{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.package-card{
  background: rgb(210, 243, 239);
  padding: 20px;
  border-radius: 14px;
  position: relative;
  min-height: 260px;
  transition: 0.3s ease;
}

.package-card:hover{
  transform: translateY(-6px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.12);
}

.package-card h3{
  font-size: 16px;
  line-height: 1.4;
  margin-bottom: 20px;
}

.offer{
  position: absolute;
  bottom: 70px;
  left: 20px;
  background: rgb(232, 73, 73);
  color: white;
  padding: 4px 10px;
  font-size: 13px;
  border-radius: 4px;
}

.package-price{
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.package-price strong{
  font-size: 18px;
}

.package-price del{
  margin-left: 10px;
  color: gray;
}

.package-card button{
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding: 8px 18px;
  border: 1px solid rgb(3, 150, 172);
  background: white;
  color: rgb(3, 150, 172);
  border-radius: 6px;
  cursor: pointer;
}
#content-1{
  padding: 50px;
   background-color: rgb(251, 251, 251);
  /* border-radius: 20px; */
}
#aritcles{
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  flex-wrap: wrap;
}
.cards{
  width: 18rem;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: white;
 
}

.cards-img{
  width: 100%;
  height: 200px;
  object-fit: cover;
}


.cards-title{
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 8px;
}

.cards-text{
  font-size: 14px;
  color: gray;
  margin-bottom: 15px;
}


.wallness{
  padding:40px;
  background-color: rgb(249, 251, 251);
  
 
  
}

.wallness-title{
  font-size:28px;
}

.wallness-subtitle{
  color:gray;
}
.product-grid{
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  gap:10px;
}
.wallness-card{
  width: 300px;
  border:1px solid white;
  border-radius:12px;
  padding:16px;
  background:white;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: white;

}

.wallness-card:hover{
  box-shadow:0 8px 20px rgba(0,0,0,0.1);
}

.wallness-card img{
  width:100%;
  height:160px;
  object-fit:contain;
  margin-bottom:12px;
}

.wallness-card h3{
  font-size:16px;
  margin-bottom:10px;
  line-height:1.4;
}

.mrp{
  text-decoration:line-through;
  color:gray;
  font-size:14px;
}

.price{
  font-size:18px;
  font-weight:bold;
}

.price span{
  color:rgb(232, 73, 73);
  font-size:14px;
  margin-left:6px;
}
.brind{
  padding:40px;
  /* max-width:1200px; */
  margin:auto;
  
}

.brind-title{
  font-size:28px;
  margin-bottom:6px;
}

.brind-subtitle{
  color:gray;
  margin-bottom:30px;
}
.brind-grid{
  display:grid;
  grid-template-columns: repeat(5, 1fr);
  gap:20px;
  
}
.brind-card{
  text-align:center;
}

.brind-img{
  height:150px;
  border-radius:12px;
  display:flex;
  align-items:center;
  justify-content:center;
  margin-bottom:12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: white;
}

.brind-img img{
  max-width:80%;
  max-height:80%;
  object-fit:contain;
}

.brind-card p{
  font-size:16px;
  font-weight:500;
}
.spotlight{
  padding:40px;
  /* background:linear-gradient(rgb(251, 236, 208),rgb(248, 238, 219)); */
}

.spotlight-title{
  font-size:26px;
  /* margin-bottom:20px; */
}
.spotlight-row{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap:20px;
  overflow-x:auto;
  padding-bottom:10px;
}
.spotlight-card{
  width:220px;
  border-radius:12px;
  padding:16px 16px;
  align-items: center;
}

.spotlight-img{
  height:200px;
  display:flex;
  padding: 10px;
  align-items:center;
  justify-content:center;
  margin-bottom:12px;
  
}

.spotlight-img img{
  height:250px;
  object-fit:contain;
  
}

.spotlight-card h4{
  font-size:15px;
  padding: 10px;
}

.mrp{
  color:gray;
  padding: 10px;
}

.price{
  font-size:18px;
  padding: 10px;
  font-weight:bold;
}

.price span{
  color:rgb(228, 80, 80);
  font-size:14px;
  margin-left:6px;
}
.why{
  background:rgb(246, 255, 252);
  padding:50px 40px;
}

.why-title{
  font-size:28px;
  margin-bottom:40px;
}

.why-grid{
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  gap:30px;
}

.why-card{
  display:flex;
  align-items:flex-start;
  gap:16px;
}

.why-card img{
  width:70px;
  height:70px;
  object-fit:contain;
}

.why-card h3{
  font-size:22px;
  margin-bottom:8px;
}

.why-card p{
  color:gray;
  font-size:15px;
  line-height:1.5;
}
.testimonials {
  padding: 60px 40px;
}

.testimonials h2 {
  font-size: 28px;
  margin-bottom: 40px;
}

.testimonial-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.testimonial-card {
  background: white;
  border-radius: 12px;
  padding: 30px;
  position: relative;
  background-color: rgb(245, 247, 246);
}

.testimonial-card h4 {
  font-size: 18px;
  margin-bottom: 6px;
}

.testimonial-card span {
  font-size: 14px;
  color: rgb(19, 18, 18);
}

.testimonial-card p {
  margin-top: 20px;
  line-height: 1.6;
  color: rgb(36, 35, 35);
  font-size: 15px;
}
.product-description{
  margin:40px auto;
  font-family:Arial, sans-serif;
  color:rgb(85, 84, 84);
  align-items: center;
  padding: 20px;
  line-height:1.7;
}

.product-description h2{
  font-size:24px;
  margin-bottom:15px;
}

.product-description h3{
  font-size:18px;
  margin-top:25px;
  margin-bottom:10px;
}

.product-description p{
  margin-bottom:15px;
}

.product-description ul{
  padding-left:20px;
}

.product-description ul li{
  margin-bottom:8px;
}

.footer{
  background-color:rgb(227, 232, 231);
  color:rgb(17, 16, 16);
  padding:40px;  
}

.footer-container{
  display:flex;
  justify-content:center;
  flex-wrap:wrap;
  
}

.footer-box{
  width:30%;
}

.footer-box h3{
  margin-bottom:15px;
  color:rgb(16, 16, 16);
}

.footer-box ul{
  list-style:none;
  padding:0;
}

.footer-box ul li{
  margin-bottom:8px;
}
.footer-bottom{
  text-align:center;
  padding:15px 0;
  background-color:rgb(125, 136, 132);
  margin-top:20px;
  font-size:14px;
}
























 


 @media (max-width:1024px){
  .top-bar{
    padding:12px 20px;
  }

  .menu{
    padding:12px 20px;
    gap:20px;
  }

  .banner{
    max-width:100%;
  }
  .packages{
    padding: 30px 20px;
  }

  .packages-wrapper{
    grid-template-columns: repeat(2, 1fr);
  }
   .product-grid{
    grid-template-columns: repeat(2, 1fr);
  }
  .brind-grid{
    grid-template-columns: repeat(3, 1fr);
  }
  .why{
    padding:40px 30px;
  }

  .why-grid{
    grid-template-columns: repeat(2, 1fr);
    gap:40px;
  }
  .testimonial-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
  
  
}

 @media (max-width:768px){
  .top-bar{
    /* flex-direction:column; */
    align-items:center;
    gap:10px;
    width:100%;
  }

  .menu{
    flex-direction:column;
    align-items:center;
    width:100%;
  }

  .search-box{
    width:400px;
  }

  .banner-section{
    flex-direction:column;
    align-items:center;
    text-align:center;
  }

  .banner{
    width:100%;
  }
  .slider-track{
    padding:15px;
  }

  .slide{
    min-width:100%;
  }

  .slide img{
    height:200px;
  }
   .prescription-card{
    flex-direction:column;
  }

  .steps{
    grid-template-columns:1fr;
  }
  .category-section{
    padding: 15px;
  }

  .category-section h2{
    font-size: 22px;
  }

  .category-card{
    min-width: 150px;
    padding: 15px;
  }

  .category-card img{
    height: 85px;
  }

  .category-card p{
    font-size: 14px;
  }
  .packages-wrapper{
    grid-template-columns: 1fr;
  }
  .wallness{
    padding:20px;
  }

  .product-grid{
    grid-template-columns: 1fr;
  }
  .brind{
    padding:20px;
  }

  .brind-grid{
    grid-template-columns: repeat(2, 1fr);
    gap:16px;
  }

  .brind-img{
    height:120px;
  }
  .why{
    padding:30px 20px;
  }

  .why-title{
    font-size:24px;
  }

  .why-grid{
    grid-template-columns: 1fr;
    gap:30px;
  }

  .why-card h3{
    font-size:20px;
  }
   .testimonials {
    padding: 40px 20px;
  }

  .testimonial-wrapper {
    grid-template-columns: 1fr;
  }

  .testimonials h2 {
    font-size: 22px;
  }
  .footer-container{
    flex-direction:column;
    text-align:center;
  }

  .footer-box{
    width:100%;
  }
    .product-description{
    padding:0 15px;
  }

  .product-description h2{
    font-size:20px;
  }

  .product-description h3{
    font-size:16px;
  }

  .product-description p,
  .product-description ul li{
    font-size:14px;
  }
  

 
}

@media (max-width:480px){
  .top-bar{
    flex-direction:column;
    align-items:center;
    gap:10px;
    width:100%;
  }
  .banner-section,
  .packages-wrapper{
    padding:15px;
    width:100%;
  }

  .location{
    font-size:12px;
  }

  .search-box{
    width:300px;
    padding:6px 10px;
  }

  .category-wallpaper{
    gap:15px;
  }

  .category{
    width:150px;
  }

  .banner{
    height:auto;
  }
  .category-section h2{
    font-size: 20px;
  }

  .category-wrapper{
    gap: 12px;
  }

  .category-card{
    min-width: 130px;
    padding: 12px;
  }

  .category-card img{
    height: 70px;
  }

  .category-card p{
    font-size: 12px;
  }
  .spotlight{
    padding:20px;
  }

  .spotlight-card{
    min-width:100px;
  }
  .product-description{
    padding:0 12px;
  }

  .product-description h2{
    font-size:18px;
  }

  .product-description h3{
    font-size:15px;
  }

  .product-description p,
  .product-description ul li{
    font-size:13px;
    line-height:1.6;
  }

  .product-description ul{
    padding-left:16px;
  }
 
}

