*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#form{
    width: 500px;
    padding: 20px;
}
    #table,tr,th,td{
     border: 1px solid black;
     border-collapse: collapse;
     width: 200px;
     text-align: center;
     padding: 10px;
    }